@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

/* Styles can go here */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "neulis-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	display: block;
}

.grid {
	padding-top: 60px; /* Adjust according to the height of the header */
	content: "";
	display: block;
	position: fixed;
}

h1 {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #242424;
	margin: 0;
	border-bottom: 0.5rem solid;
	border-top: 0.5rem solid;
	padding-top: 10px;
}

.person-div {
	display: block;
	position: fixed;
}

.column-div {
	z-index: 900;
	display: block;
	position: fixed;
}
