@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

/* Styles can go here */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "neulis-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	display: block;
	overflow-x: scroll;
	overflow-y: scroll;
}

.grid {
	padding-top: 120px; /* Adjust according to the height of the header */
	content: "";
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.grid-item {
	margin: 2px;
	align-self: center;
	cursor: pointer;
}

.grid-item img {
	box-shadow: 0 0 0 0.2px rgba(211, 211, 211, 0.5);
}

.grid-item:hover {
	opacity: 0.8;
}

h1 {
	position: fixed;
	top: 1%;
	width: 100%;
	background-color: black;
	margin: 0;
	border-bottom: 0.03rem solid;
	border-top: 0.03rem solid;
	padding-top: 10px;
	padding-left: 20px;
	font-weight: 300;
}

.header {
	background-color: black;
	height: 80px;
	width: 100%;
	z-index: 1000;
	position: fixed;
}

.person-div {
	position: fixed;
	bottom: 0%;
	display: flex;
	width: 200px;
	align-items: flex-end;
}

.person-label {
	transform: rotate(-90deg);
	transform-origin: left top;
	font-weight: 100;
	margin-bottom: -10px;
}

.column-div {
	z-index: 900;
	display: block;
	position: fixed;
}

.left-column {
	display: flex;
	z-index: 800;
}

.content {
	display: flex;
}

img {
	margin: 0;
}

.jw-modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 40px;
	overflow: auto;
	padding-top: 60px;
	border: #fff;
}

.jw-modal.open {
	display: block;
}

.jw-modal-body {
	padding: 20px;
	background-color: black;

	overflow-x: scroll;
	overflow-y: scroll;
}

body.jw-modal-open {
	overflow: hidden;
}

.jw-modal button {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	border: none;
	height: 32px;
	width: 32px;
	margin: 8px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
}

.checkboxes-div {
	display: block;
	position: fixed;
	translate: 0 300px;
}

#modal-text {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	color: white;
	margin-left: 8px;
	padding: 8px;
	border-radius: 4px;
	width: 200px;
}

#modal-button-and-text {
	position: fixed;
	font-weight: 200;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}
